@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.firstFrame{
  height: 90vh;
  background-size:cover;
  background-image: url("../images/riccardo-annandale-140624-unsplash.jpg");
  background-position: center;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px #000000;
}



.secondFrame{

  border-top: 4px solid white;
  background-size:cover;
  background: #aedd94; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #aedd94, #D6FFDC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #aedd94, #D6FFDC);
  display:flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.thirdFrame{
  border-top: 4px solid white;
}

#logoStyle{
  width: 13vmin;
  filter : drop-shadow(2px 2px 4px #000000);
  margin-bottom: 15px;
}


.titleBeProudOfYou{
  font-family: Roboto;
  color: white;
  font-size: 12.5vmin ;
}

.sloganBeProudOfYou{
  font-family: Roboto;
  font-weight: 400;
  color: white;
  font-size: 3.5vmin;
}

.btn-Home-Desc{
  background-color: hsla(251,19%,29%, 0.9);
  border-color: #FFFFFF;
  color: #FFFFFF;
  margin-top: 30px;
  font-family: 'Roboto Slab';
  width: 290px;
  height: 75px;
  white-space:normal;
  border-radius: 15px;
}

.btn-Home-Desc:hover{
  background-color: hsla(251,19%,29%, 0.9);
  border-color: #FFFFFF;
  color: #FFFFFF;
  opacity: 0.8;
}

.iconPlay{
  color: #413c58;

}

.iconPlay:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

}

.descText{
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto Slab;
  font-weight: 400;
  color: #413c58;
  font-size: 3vmin;
  margin-bottom: 61px;
}

.descText1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto Slab;
  font-weight: 400;
  color: #413c58;
  font-size: 3vmin;
  margin-bottom: 61px;
  margin-top:8%;
}

.slick-prev {
   left: 3% !important;
  z-index: 1;
}
.slick-next{
    right: 0;
}

.cardsDiplay{
  z-index: 999;
  margin-bottom: 6vw;
  margin-right: 6vw;
  margin-top: 6vw;
  margin-left:7vw;
}

.projetCard{
  transition: transform .2s;
}

.projetCard:hover{
transform: scale(1.1);
}


.iconHand{
  color: #413c58;
}

.iconGift{
  color: #413c58;
}

.iconComments{
  color: #413c58;
}

.envelope{
  color: #FFFFFF;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
