@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500');

.logoNavBar{
  width: 40px;
}

.navBarCss{
  background: #aedd94; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #aedd94, #D6FFDC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #aedd94, #D6FFDC);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

.plus{
  width: 17px;
}

#applyBadge{
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-family: Roboto;
}

.navbar-nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}
