.rewardsCard{
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 20px;
  box-sizing:border-box;
  text-align:  center;
}

.amount {
  border: none;
  background: transparent;
  color: #413c58;
  outline: none;
  font-family: Roboto;
  margin-bottom: 10px;
  text-align: right;
}

.divAmount{
  border: none;
  border-bottom: 1px solid #413c58;
  box-sizing: content-box;
  text-align: right;
}

.rewardsTitle{
  color: #FFF;
}

#modal{
  text-align: left;
}

.textBeforePayment{
  color: red;
  font-size: 10px;
  font-family: Roboto;
  margin-top: 10px;
}
